* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffe467;
  color: black;
  font-size: 20px;
  font-family: "Contrail One", cursive;
}
.navbar a {
  color: black;
}
.navbar span {
  text-decoration: underline;
}

.navbar-toggler {
  background-color: rgba(0, 0, 0, 0.726);
}
.navbar-toggler i {
  color: white;
  font-size: 30px;
}

.imagenlogo {
  display: flex;
  justify-content: center;
}

.button span {
  color: black;
  background-color: coral;
}

.nav-item a:hover {
  transition: 0.8s;
  font-size: 28px;
  color: rgb(47, 218, 161);
}

#navgedadorentero {
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.jumbotron {
  background-color: #ffe467;
  background-image: linear-gradient(#ffe467, rgb(47, 218, 161));
  border-radius: 0%;
  margin: 0;
  text-align: center;
}
.jumbotron h1 {
  font-family: "Contrail One";
  text-shadow: 20px 0 0 rgb(30, 233, 165);
}
.jumbotron p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.mismarcas {
  background-image: linear-gradient(rgb(47, 218, 161), #dcdbd7);
}

h3 {
  height: 100px;
  text-align: left;
  padding-right: 70px;
  font-family: "Poppins", sans-serif, cursive;
}

footer {
  height: 110px;
  width: 100%;
  background-color: rgb(47, 218, 161);
  font-size: 20px;
  margin: 0;
  font-family: "Contrail One", cursive;
  text-align: center;
}
footer a {
  color: rgb(0, 0, 0);
  font-size: 40px;
  letter-spacing: 20px;
}

.img-rem {
  background-image: url(./img/remera.jpg);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe467;
}

.titulo-rem {
  background-color: #f3c807;
  background-image: url(./img/fondoProductos.jpg);
  background-size: contain;
  padding-top: 200px;
  text-align: center;
  font-family: "Contrail One";
  text-shadow: 20px 0 0 rgb(0, 0, 0);
  color: white;
}
.titulo-rem :hover {
  transition: 2s;
  color: rgb(47, 218, 161);
}

.img-buzo {
  background-image: url(./img/buzo.jpg);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe467;
}

.img-pantoles {
  background-image: url(./img/pantalon.jpg);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe467;
}

.img-gorra {
  background-image: url(./img/gorra.jpg);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe467;
}

.carousel-inner img {
  max-width: 400px;
  height: auto;
  margin: 0;
  background-color: #f8ffb8;
  border: black solid 2px;
  border-radius: 50%;
}

.carousel-inner {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 600px; /* Altura deseada para el carrusel */
  background-image: url(./img/Fresh.jpg);
  background-size: 100% 100%;
  padding-right: 280px;
  background-position: center;
}

@media (max-width: 767px) {
  .carousel-inner img {
    width: 300px;
    height: 100vh;
    max-width: none;
  }
}
.contacpagina {
  height: 100vh;
  background-image: url(./img/bienvenido.jpg);
  font-family: "Contrail One", cursive;
  text-align: center;
  background-position: center;
}

@media only screen and (max-width: 780px) {
  .videocontacto .video-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .videocontacto video {
    width: 100%;
    height: auto;
  }
}
.videocontacto {
  margin: 0;
}

.contacto span {
  text-align: center;
  width: auto;
  color: rgb(245, 47, 3);
  font-size: 35px;
}
.contacto p {
  font-size: 30px;
}

.contactanos {
  margin-top: 300px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5019607843);
}

@media only screen and (max-width: 780px) {
  .contactanos {
    margin-top: 0;
  }
}
.paginaNosotros {
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(./img/local.jpg);
  padding-top: 50px;
}
.paginaNosotros .container {
  width: 100%;
  align-items: center;
}
.paginaNosotros .row-manifiesto {
  display: flex;
  justify-content: center;
}
.paginaNosotros .col-sm-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.paginaNosotros h2 {
  margin-top: 0px;
  color: #b8e4ff;
  text-align: center;
  background-color: #ff8097;
  margin-bottom: 25px;
  font-family: "Contrail One", cursive;
}
.paginaNosotros .textonosotros h2 {
  font-family: "Nosifer", cursive;
}
.paginaNosotros .textonosotros p {
  text-align: center;
  color: white;
  font-family: "Contrail One", cursive;
  font-size: 20px;
  text-decoration: underline solid 4px wheat;
}
.paginaNosotros .textoanimado {
  animation-name: traslado;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
@keyframes traslado {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.paginaubicacion {
  height: 100%;
  width: 100%;
  background-image: url(./img/244404656_1482458862121576_9093992704945517272_n.jpeg);
  background-size: contain;
  padding-top: 20px;
  font-family: "Contrail One", cursive;
}
.paginaubicacion h2 {
  color: rgb(231, 171, 59);
}
.paginaubicacion p {
  color: white;
  text-align: center;
  margin-bottom: 150px;
  font-size: 30px;
  background-color: rgb(173, 36, 36);
}
.paginaubicacion h5 {
  margin: 50px;
  color: #dfdcd7;
}
.paginaubicacion .mapa {
  padding-bottom: 50px;
}

.ropa {
  background-image: url(./img/buenas.jpg);
  background-position: center;
}

.card {
  margin: 75px;
  background-image: linear-gradient(#37023a, #f204ff);
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Contrail One", cursive;
  text-align: center;
  border-radius: 7%;
}
.card .card-body {
  align-items: center;
  background-image: url(./img/fondoProductos.jpg);
  background-position: center;
  background-position: 100%;
}
.card .card-body :hover {
  transform: scale(1.15);
  transition: 400ms;
}
.card .card-body img {
  width: 100%;
  display: block;
  margin: auto;
}

/*# sourceMappingURL=estilos.css.map */
