@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cambo&family=Contrail+One&family=Galada&family=Knewave&family=Lobster&family=Monoton&family=Nosifer&family=Poppins:ital,wght@1,700&family=Rubik+Mono+One&family=Vollkorn+SC:wght@900&display=swap');

$font1:'Contrail One', cursive;
$font2:'Nosifer', cursive;
$font3:"Lobster", cursive;
$font4: 'Poppins', sans-serif;
