.ropa{
    background-image: url(../img/buenas.jpg);
    background-position: center;
  
  }
  .card{
    margin: 75px;
  
    background-image: linear-gradient( $color6, $color7);
    color: rgb(255, 255, 255);  
    font-size: 30px;
    font-family: $font1;
    text-align: center;
    border-radius: 7%;
   
  
    .card-body{
      align-items: center;
      background-image: url(../img/fondoProductos.jpg);
      background-position: center;
      background-position: 100%;
      
  
      :hover{
        transform: scale(1.15);
        transition: 400ms;
      }
      
      img{
        width: 100%;
        display: block;
        margin: auto;
        
    }
    
  }
  }