
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:  #ffe467;
    color: black;
    font-size: 20px;
    font-family: 'Contrail One', cursive;

    a{
      color: black;
    }

    span{
      text-decoration: underline;
    }
}
.navbar-toggler{

background-color: rgba(0, 0, 0, 0.726);    

    i{
      color: white;
      font-size: 30px; 
      }
      
 }    
 
.imagenlogo {
    display: flex;
    justify-content: center;
  }

  .button span{

    color: black;
    background-color: coral;
  }

  .nav-item a:hover{
    transition: 0.8s;
    font-size: 28px;
    color: rgb(47, 218, 161);

  }

  #navgedadorentero{
    justify-content: space-between;
    align-items: flex-start;
    text-align: center; 
  }


  .jumbotron{
    background-color: #ffe467;
    background-image: linear-gradient( #ffe467, rgb(47, 218, 161));
    border-radius: 0%;
    margin: 0;
    text-align: center;
    color: #43b5a0;
    max-width: 100%;
    
    h1{
      font-size: 2em;
      color: #331a38  ;
      font-family: 'Nosifer', cursive;
      text-shadow: 20px 0 0 rgb(30, 233, 165);
    }

    p{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
    }
  }

.mismarcas{
    background-image: linear-gradient( rgb(47, 218, 161), #dcdbd7);
    margin: 0;
    text-align: center;
    font-family: 'Lobster', cursive;
    height: 100px;
  }
  
  
  .carousel-inner img{
      max-width: 400px;
      margin: 0;
      background-color: #f8ffb8;   
      border: black solid 2px;    
      border-radius: 50%;
      display: flex;
      margin: auto;
      margin-top: 100px;
  }

  .carousel-inner {
      justify-content: center;
      height: 600px; /* Altura deseada para el carrusel */
      background-image: url(../img/Fresh.jpg);
      background-size: 100% 100%;
      background-position: center;
  }

  @media only screen and (max-width: 780px) {
      .carousel-inner{
        background-size: 90% 100%;

      }
  }
  
  @media only screen and (max-width: 576px) {
    .carousel-inner{
      background-size: 90% 70%;

    }
    .carousel-inner img{
      width: 70%;
      margin-top: 150px;
    }
    
  }
    
footer{
    height: 110px;
    width:  100% ;
    background-color: #2fdaa1;
    font-size: 20px;
    margin: 0;
    font-family: 'Contrail One', cursive;
    text-align: center;
   
    a{
      color: rgb(0, 0, 0);
      font-size: 40px;
      letter-spacing: 20px;
    }
}

//Pagina contacto inicio


.contacpagina{
height: 90%;
background-image: url(../img/bienvenido.jpg);


  .contacto{
    height: 100%;
    margin-top: 150px;
    font-family: 'Contrail One', cursive;
    text-align: center;
    font-size: 26px;
      
    .formularios{
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0.884);
        border-radius: 25px;
        padding: 20px;
          h3{
            color: #f52f03 ;
            text-decoration: underline solid 4px wheat; 
          }
          label{
            color: wheat;
            
          }

          select {
            background-color: #2fdaa1;
            border: 0;
          }

          input{
            background-color: #2fdaa1;
            border: 0;
          }
          option{
            background-color: #2fdaa1;
            border: 0;

          }
      }
      .contactanos{
        background-color: rgba(0, 0, 0, 0.884);
        border-radius: 25px;
          span{
            color:#f52f03;
          }
          p{
            color: wheat;
          }
        }

  }

  .videocontacto{
    height: 100vh;
    .videofresco{
      height: 100%;
      video{
        height: 90%;
        background-color:black  ;
        border: ridge   10px #f52f03;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

  }


}

//Pagina nosotros inicio

.paginaNosotros{
  padding: 0;
  height: 100%  ;
  width: 100%;
  background-image: url(../img/local.jpg);
  padding-top: 50px;

    
    .container {
      width: 100%;
      align-items: center;
    }

    .row-manifiesto {
      display: flex;
      justify-content: center;
    }

    .col-sm-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
    }

    h2 {
      margin-top: 0px;
      color: #b8e4ff;
      text-align: center;
      background-color: #ff8097;
      margin-bottom: 25px;
      font-family: 'Contrail One', cursive;

    }

    .textonosotros{
      h2{
        font-family: 'Nosifer', cursive;
        
      }
      p{
        text-align: center;
        color: white;
        font-family: 'Contrail One', cursive;
        font-size: 20px;
        text-decoration: underline solid 4px wheat; 

      }
    }
    
    .textoanimado{
      animation-name: traslado;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;

      @keyframes traslado{
        0%{
          opacity: 0%;
        }
        100%{
          opacity: 100%;
        }

      }
    }
}
//Pagina nosotros fin


//Pagina ubicacion inicio

.paginaubicacion{
  height: 100%;
  width: 100%;
  background-image:url(../img/244404656_1482458862121576_9093992704945517272_n.jpeg) ;
  background-size: contain;
  padding-top: 20px;
  font-family: 'Contrail One', cursive;

 h2 {
  color: rgb(231, 171, 59);
  font-family: 'Nosifer', cursive;
 }
p { 
  color: white;
  text-align: center;
  margin-bottom: 150px;
  font-size: 30px;
  background-color: #ad2424;  
  text-decoration: underline solid 5px;
}
h5 {
  margin: 50px;
  color:  white;
  text-decoration: underline wavy 3px wheat ;
}
.mapa{
padding-bottom: 50px;
}

}

//Pagina ubicacion fin

//Pagina productos fin

.ropa{
  background-image: url(../img/buenas.jpg);
  background-position: center;

}
.card{
  margin: 75px;

  background-image: linear-gradient( #37023a, #f204ff);
  color: rgb(255, 255, 255);  
  font-size: 30px;
  font-family: 'Contrail One', cursive;
  text-align: center;
  border-radius: 7%;
 

  .card-body{
    align-items: center;
    background-image: url(../img/fondoProductos.jpg);
    background-position: center;
    background-position: 100%;
    

    :hover{
      transform: scale(1.15);
      transition: 400ms;
    }
    
    img{
      width: 100%;
      display: block;
      margin: auto;
      
  }
  
}
}
//Pagina productos fin
